<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" data-bs-theme="dark">

<head th:fragment="header(pageTitle)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style type="text/css">
        .card-title img {
            max-width: 100%;
        }
    </style>
    <title th:text="${pageTitle}">QuickShare</title>
</head>

<body>
    <div class="container-sm">
        <nav class="navbar navbar-expand-lg bg-body-tertiary my-3" style="border-radius: 0.375rem;">

            <div class="container-fluid">
                <a class="navbar-brand" href="./">QuickShare</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://kfels.com/" target="_blank">ShortUrl</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://kfels.com/fileHome" target="_blank">FileShare</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div th:fragment="loginForm">
            <div class="row flex-row g-3 mb-4">
                <div class="col-lg-4 col-md-12">
                    <label class="form-label">Message box:</label>
                    <input type="text" class="form-control" th:value="${messageBoxName}" id="msgBoxNameTxt">
                </div>
                <div class="col-lg-4 col-md-12">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-control" id="msgBoxPassTxt">
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="form-label d-none d-lg-block">&nbsp;</label>
                    <div class="input-group">
                        <button type="button" class="form-control btn btn-primary"
                            onclick="openMessageBox()">Open</button>
                        <button type="button" class="form-control btn btn-outline-primary"
                            onclick="createMessageBox()">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="g-3 slider closed" id="messageCards"></div>

        <div id="inputCard">
            <div class="card mt-3">
                <div class="card-body">
                    <textarea class="form-control" rows="3" placeholder="Add message" maxlength="5000"
                        id="messageTxtArea" onchange="lengthCounter()" onkeyup="lengthCounter()"></textarea>
                    <span class="pull-right label label-default" id="count_message"></span>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary fw-bolder" type="button"
                                    onclick="boldText();">B</button>
                                <button class="btn btn-outline-secondary fw-bold fst-italic" type="button"
                                    onclick="italicText();">I</button>
                                <button class="btn btn-outline-secondary" type="button" onclick="attachImage()">
                                    <img src="/assets/img/photo_grey.png" style="max-height: 1.5em;" />
                                </button>
                                <button class="btn btn-outline-secondary" type="button" id="upload_btn"
                                    onclick="attachFile()">
                                    <img src="/assets/img/file_grey.png" style="max-height: 1.5em;" />
                                </button>
                                <button class="btn btn-outline-secondary fw-bolder" type="button"
                                    onclick="encryptText()">
                                    <img src="/assets/img/encrypt_grey.png" style="max-height: 1.5em;" />
                                </button>
                                <input type="text" class="form-control" id="usernameTxt" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="">Expiry:</span>
                                <select class="form-select" id="messageExpirySel">
                                    <option value="1">1 Hour</option>
                                    <option selected value="24">1 Day</option>
                                    <option value="48">2 Days</option>
                                    <option value="168">1 Week</option>
                                    <option value="720">1 Month</option>
                                    <option value="2160">3 Months</option>
                                    <option value="8760">1 Year</option>
                                    <option value="87600">10 Years</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 mb-3">
                            <button class="form-control btn btn-outline-primary" onclick="postMessage()">Post</button>
                        </div>
                    </div>
                    <div class="row g-3 slider closed" id="slider">
                        <div style="padding-top: 30px; display: none;" id="result-error"></div>
                    </div>
                    <div style="display: none;">
                        <input type="hidden" id="fileshare_site_url" th:value="${fileshare_site_url}">
                        <form action="#" id="file_upload_form" method="post" enctype="multipart/form-data">
                            <input class="form-control" type="file" id="attach_file" name="file" style="display: none;"
                                onchange="uploadFile()">
                            <input class="form-control" type="hidden" id="file_expiry" name="expiry_hour" value="168">
                        </form>

                        <input type="hidden" id="imageshare_site_url" th:value="${imageshare_site_url}">
                        <form action="#" id="image_upload_form" method="post" enctype="multipart/form-data">
                            <input class="form-control" type="file" id="attach_image" name="file" style="display: none;"
                                onchange="uploadImage()">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="bg-body-tertiary text-center text-lg-start mt-4" style="border-radius: 0.375rem;">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2024 Copyright:
                <a class="text-body" href="https://somik.org/">Somik.org</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/aes256.js"></script>

    <!-- These run on page load -->
    <script>
        firstLoadOpenMessageBox();
        lengthCounter();
    </script>
</body>

</html>